<!-- <p>edit-contact works!</p> -->
<div class="container mt-3">
    <div class="row">
      <div class="col">
        <p class="h3 fw-bold textdanger">Edit Contact</p>
        <p class="fst-italic">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit quidem
          voluptate adipisci laudantium accusantium iusto fugiat temporibus alias.
          Harum provident nisi assumenda earum vitae commodi optio expedita ad
          distinctio cum?
        </p>
      </div>
    </div>
  </div>
  <!-- Edit contact form -->
  <div class="container">
      <div class="row">
          <div class="col sm-4">
              <form>
                  <div class="mb-2">
                      <input type="text" class="form-control" placeholder="Name">
                  </div>
                  <div class="mb-2">
                      <input type="text" class="form-control" placeholder="Photo Url">
                  </div>
                  <div class="mb-2">
                      <input type="text" class="form-control" placeholder="Email">
                  </div>
                  <div class="mb-2">
                      <input type="number" class="form-control" placeholder="Number">
                  </div>
                  <div class="mb-2">
                      <input type="text" class="form-control" placeholder="Company">
                  </div>
                  <div class="mb-2">
                      <input type="text" class="form-control" placeholder="Title">
                  </div>
                  <div class="mb-2">
                      <select class="form-control">
                          <option value="">Select a group</option>
                      </select>
                  </div>
                  <div class="mb-2">
                      <input type="Submit" class="btn btn-danger" value="Update">
                      <a routerLink="/" class="btn btn-dark ms-2">Close</a>
                  </div>
              </form>
          </div>
          <div class="col sm-4">
              <img src="https://th.bing.com/th/id/R.6b0022312d41080436c52da571d5c697?rik=ejx13G9ZroRrcg&riu=http%3a%2f%2fpluspng.com%2fimg-png%2fuser-png-icon-young-user-icon-2400.png&ehk=NNF6zZUBr0n5i%2fx0Bh3AMRDRDrzslPXB0ANabkkPyv0%3d&risl=&pid=ImgRaw&r=0" alt="ImgRaw" class="contact-img">
          </div>
      </div>
  </div>
  