<!-- <p>edit-contact works!</p> -->
<div class="container mt-3">
    <div class="row">
      <div class="col">
        <p class="h3 fw-bold textdanger">Edit Contact</p>
        <p class="fst-italic">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit quidem
          voluptate adipisci laudantium accusantium iusto fugiat temporibus alias.
          Harum provident nisi assumenda earum vitae commodi optio expedita ad
          distinctio cum?
        </p>
      </div>
    </div>
  </div>
  <!-- Edit contact form -->
  <div class="container">
      <div class="row">
          <div class="col sm-4">
              <form (submit)="submitUpdate()">
                  <div class="mb-2">
                      <input [(ngModel)]="contact.name" name="name" [value]="contact.name"
                      type="text" class="form-control" placeholder="Name" required="true">
                  </div>
                  <div class="mb-2">
                      <input [(ngModel)]="contact.photo" name="photo" [value]="contact.photo"
                      type="text" class="form-control" placeholder="Photo Url" required="true">
                  </div>
                  <div class="mb-2">
                      <input [(ngModel)]="contact.email" name="email" [value]="contact.email"
                      type="text" class="form-control" placeholder="Email" required="true">
                  </div>
                  <div class="mb-2">
                      <input [(ngModel)]="contact.mobile" name="mobile" [value]="contact.mobile"
                       type="number" class="form-control" placeholder="Number" required="true">
                  </div>
                  <div class="mb-2">
                      <input [(ngModel)]="contact.company" name="copany" [value]="contact.company"
                      type="text" class="form-control" placeholder="Company" required="true">
                  </div>
                  <div class="mb-2">
                      <input [(ngModel)]="contact.title" name="title" [value]="contact.title" 
                      type="text" class="form-control" placeholder="Title" required="true">
                  </div>
                  <div class="mb-2">
                      <select [(ngModel)]="contact.groupId" name="groupId" [value]="contact.groupId"
                      class="form-control" required="true">
                          <option value="">Select a group</option>
                          <option [value]="group.id" *ngFor="let group of groups">{{group.name}}</option>

                      </select>
                  </div>
                  <div class="mb-2">
                      <input type="Submit" class="btn btn-danger" value="Update">
                      <a routerLink="/" class="btn btn-dark ms-2">Close</a>
                  </div>
              </form>
          </div>
          <div class="col sm-4">
              <img [src]="contact.photo" alt="ImgRaw" class="contact-img">
          </div>
      </div>
  </div>
  
  <!-- <pre>{{contact | json}}</pre> -->