<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 text-danger fw-bold">NG Contacts
                <a routerLink="/contacts/add" class="btn btn-danger btn-sm">
                    <i class="fa fa-plus-circle"></i>
                    New
                </a>
            </p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit tenetur inventore aperiam maiores! Excepturi quam natus, suscipit magni praesentium eius quo ducimus quas facere consequuntur cumque accusantium cum fuga? Dolores!
            </p>
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col">
                                <input class="form-control" placeholder="Search User" type="text">
                            </div>
                            <div class="col">                                
                                <input type="submit" value="search" class="btn btn-outline-dark">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- cards -->
<div class="container mt-3">
    <div class="row">
        <div class="col-md-6">
            <div class="card list-group-item-danger shadow-lg">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-sm-4">
                            <img src="https://th.bing.com/th/id/R.6b0022312d41080436c52da571d5c697?rik=ejx13G9ZroRrcg&riu=http%3a%2f%2fpluspng.com%2fimg-png%2fuser-png-icon-young-user-icon-2400.png&ehk=NNF6zZUBr0n5i%2fx0Bh3AMRDRDrzslPXB0ANabkkPyv0%3d&risl=&pid=ImgRaw&r=0" 
                            alt="UserImg" 
                            class="contact-img">
                        </div>
                        <div class="col-sm-7">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    Name : <span class="fw-bold">Name</span>
                                </li>
                                <li class="list-group-item">
                                    Email : <span class="fw-bold">Email</span>
                                </li>
                                <li class="list-group-item">
                                    Mobile : <span class="fw-bold">Mobile</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-1 d-flex flex-column justify-content-center align-items-center">
                            <a routerLink="/contacts/view/:contactId" class="btn btn-warnirng my-1 ">
                                <i class="fa fa-eye border"></i>
                            </a>
                            <a routerLink="/contacts/edit/:contactId" class="btn btn-primary my-1 ">
                                <i class="fa fa-pen"></i>
                            </a>
                            <button class="btn btn-danger my-1">
                                <i class="fa fa-trash-alt"></i>
                            </button>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>
